@model Domain.Models.Provincia

@{
    ViewBag.Title = "Provincias";
    ViewBag.Page = "Editar Provincia";
    ViewBag.Message = "Edite la provincia";
}

<div class="box box-warning">
    <div class="box-header">
        <h4 class="box-title">
            @ViewBag.Title.
            <small>@ViewBag.Message</small>
        </h4>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDProvincia)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="box-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
